# set IP and username of iperf server node
# Optional:
#	Use this
#	SERVER_UPDATE_USER='username'
#	SERVER_UPDATE_PASSWORD=''
SERVER_IP='192.168.0.10'
SERVER_USER='root'
SERVER_PASSWORD=''
SERVER_WIFI_IP='192.168.10.1'
SERVER_INTERFACE='wlan0'
#SERVER_CERTIFICATE='/home/alarm/.ssh/server_key'

# set IP and user name of iperf client node
# Optional:
#	Use this username if run and update user are different
#	CLIENT_UPDATE_USER='username'
#	CLIENT_UPDATE_PASSWORD=''
CLIENT_IP='192.168.0.9'
CLIENT_USER='root'
CLIENT_PASSWORD=''
CLIENT_INTERFACE='wlan0-1'
#CLIENT_CERTIFICATE='/home/alarm/.ssh/client_key'

# set NR_RUNS accordingly to ATTENUATOR_PARAMS numbers starting with 1
NR_RUNS=5
ATTENUATOR_PARAMS=('-a 0 -t 10 s' '-a 20 -t 10 s' '-a 40 -t 10 s' '-a 60 -t 10 s' '-a 80 -t 10s')

TIME=('100000' '100000' '100000' '100000' '100000')

# set name for package to update with number accordingly to update position
# including the relativ, or absolute path to the package
UPDATE_PKG=('' '' '' '' '' '')
# Optional:
#	Provide Parameters for iperf according to the run number
IPERF_PARAM_SERVER=('-i 1 --one-off -p 5002' '-i 1 --one-off -p 5002' '-i 1 --one-off -p 5002' '-i 1 --one-of -p 5002' '-i 1 --one-of -p 5002')
IPERF_PARAM_CLIENT=('-i 1 -t 30 -p 5002 -u -b 0' '-u -i 1 -t 30 -p 5002 -u -b 0' '-i 1 -t 30 -p 5002 -u -b 0' '-i 1 -t 30 -p 5002 -u -b 0'
		    '-i 1 -t 30 -p 5002 -u -b 0')


FILES=('/sys/kernel/debug/ieee80211/phy0/netdev\:wlan0*/stations/*/rc_stats_csv')

